:root {
    --background-color: #E0E7FF;
    --background-element: #F1F5F9;
    --login-background: #80E8A0;
    --sign-up-background: #D8B4FE;
    --primary: #6366F1;
    --second: #1E1B4B;
    --placeholder: #94A3B8;
    --white: #FFFFFF;
    --black: #000000;
}